[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coreapi = "*"
openapi-core = "*"
openapi-codec = "*"
PyYAML = "*"

[requires]
python_version = "3"
