repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
        args: ["-shellcheck="]
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.12.10"
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - "types-protobuf>=5,<6"
          - types-PyYAML
          - mypy-extensions
        exclude: tests
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.20
    hooks:
      - id: uv-lock

exclude: (docs/|example/)
