repos:
  - repo: https://github.com/ambv/black
    rev: 22.12.0
    hooks:
      - id: black
        files: '(tavern|tests)'
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-pyproject']
        files: tavern/
        exclude: tests/
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args:
          - --settings-path=pyproject.toml
        files: '(tavern|tests)'

exclude: (docs/|example/)
