[MASTER]
disable=missing-docstring,bad-continuation,fixme,invalid-name,line-too-long,too-few-public-methods,no-else-return,too-many-branches

ignore=tests

[REPORTS]
reports=no

[SIMILARITIES]
min-similarity-lines=6
ignore-imports=yes

[TYPECHECK]
ignored-classes=RememberComposer
ignored-modules=distutils
