alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
astroid==2.4.1
attrs==20.1.0
Babel==2.8.0
black==20.8b1
bleach==3.1.5
bump2version==1.0.0
certifi==2020.6.20
cffi==1.14.2
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlog==4.2.1
commonmark==0.8.1
coverage==5.2.1
cryptography==3.0
distlib==0.3.1
docopt==0.6.2
docutils==0.14
dodgy==0.2.1
execnet==1.7.1
Faker==4.1.2
filelock==3.0.12
flake8==3.8.3
flake8-polyfill==1.0.2
Flask==1.1.2
future==0.18.2
identify==1.4.28
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
isort==4.3.21
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
keyring==21.3.0
lazy-object-proxy==1.4.3
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
mypy==0.782
mypy-extensions==0.4.3
nodeenv==1.4.0
packaging==20.4
paho-mqtt==1.5.0
pathspec==0.8.0
pbr==5.4.5
pep8-naming==0.10.0
pipe==1.6.0
pkginfo==1.5.0.1
pluggy==0.13.1
pre-commit==2.7.1
prospector==1.3.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.7.1
PyJWT==1.7.1
pykwalify==1.7.0
pylint==2.5.2
pylint-celery==0.3
pylint-django==2.0.15
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.7
pyroma==2.6
pytest==6.0.1
pytest-cov==2.10.1
pytest-forked==1.3.0
pytest-xdist==2.1.0
python-box==5.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readme-renderer==26.0
recommonmark==0.5.0
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
requirements-detector==0.7
rfc3986==1.4.0
SecretStorage==3.1.2
setoptconf==0.2.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.3
sphinx-markdown-tables==0.0.9
sphinx-rtd-theme==0.5.0
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
stevedore==2.0.1
text-unidecode==1.3
toml==0.10.1
tox==3.20.0
tqdm==4.48.2
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
