alabaster==0.7.12
allure-pytest==2.9.45
allure-python-commons==2.9.45
appdirs==1.4.4
astroid==2.5
attrs==20.3.0
Babel==2.9.1
black==20.8b1
bleach==4.1.0
bump2version==1.0.1
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.10
click==8.1.2
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
coverage==6.2
cryptography==36.0.1
distlib==0.3.4
docopt==0.6.2
docutils==0.14
Faker==13.3.4
filelock==3.4.2
flake8==4.0.1
Flask==2.1.1
future==0.18.2
identify==2.4.2
idna==2.10
imagesize==1.3.0
importlib-metadata==4.10.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.1
jmespath==0.10.0
jsonschema==3.2.0
keyring==23.5.0
lazy-object-proxy==1.7.1
Markdown==2.6.11
MarkupSafe==2.0.1
mccabe==0.6.1
more-itertools==8.12.0
mypy==0.942
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
paho-mqtt==1.5.1
pathspec==0.9.0
pbr==5.8.0
pkginfo==1.8.2
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.18.1
py==1.10.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==1.7.1
pykwalify==1.8.0
pylint==2.6.0
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
python-box==5.4.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
readme-renderer==32.0
recommonmark==0.5.0
regex==2021.11.10
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.0.1
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
SecretStorage==3.3.1
setuptools==62.1.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.3
sphinx-markdown-tables==0.0.9
sphinx-rtd-theme==1.0.0
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
stevedore==3.5.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.0
tox==3.24.5
tqdm==4.62.3
twine==4.0.0
typed-ast==1.5.1
types-PyYAML==6.0.4
types-requests==2.27.11
types-urllib3==1.26.9
typing_extensions==4.0.1
urllib3==1.26.8
virtualenv==20.13.0
webencodings==0.5.1
Werkzeug==2.1.1
wrapt==1.12.1
zipp==3.7.0
