name: basic test

on:
  push:
    tags:
    - ".*"
    branches:
    - master
  pull_request:
    branches:
    - master
    - feature-2.0

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
        # 'Basic' tests and checks
        # Pylint, formatting/sorting, and quickest unit/integration tests
        - TOXENV: py39black
          python: "3.9"
          TOXCFG: tox.ini
        - TOXENV: py39
          python: "3.9"
          TOXCFG: tox.ini
        - TOXENV: py39lint
          python: "3.9"
          TOXCFG: tox.ini
        - TOXENV: py39mypy
          python: "3.9"
          TOXCFG: tox.ini
        - TOXENV: py39isort
          python: "3.9"
          TOXCFG: tox.ini

        - TOXENV: py39-generic
          python: "3.9"
          TOXCFG: tox-integration.ini
        - TOXENV: pypy3-noextra
          python: pypy3
          TOXCFG: tox-integration.ini
        - TOXENV: py39-mqtt
          python: "3.9"
          TOXCFG: tox-integration.ini
        - TOXENV: py39-hooks
          python: "3.9"
          TOXCFG: tox-integration.ini
        - TOXENV: py39-advanced
          python: "3.9"
          TOXCFG: tox-integration.ini

    services:
      docker:
        image: docker

    env:
      TOXENV: ${{ matrix.TOXENV }}
      TOXCFG: ${{ matrix.TOXCFG }}

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      env:
        cache-name: cache-${{ matrix.TOXENV }}
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ env.cache-name }}-${{ hashFiles('tox.ini', 'tox-integration.ini', 'requirements.txt', 'setup.cfg', 'setup.py') }}

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt', 'setup.cfg', 'setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - uses: satackey/action-docker-layer-caching@v0.0.11
      continue-on-error: true

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: install deps
      run: |
        pip install tox-travis

    - name: tox
      run: |
        tox -c ${TOXCFG}
