name: basic test

on:
  push:
    tags:
      - ".*"
    branches:
      - master
  pull_request:
    branches:
      - master
      - feat/3.0-release

jobs:
  simple-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: pre-commit/action@v3.0.0

  unit-tests:
    runs-on: ubuntu-latest
    needs: simple-checks

    strategy:
      fail-fast: false
      matrix:
        include:
          # 'Basic' tests and checks
          - TOXENV: py3mypy
            TOXCFG: tox.ini
          - TOXENV: py3
            TOXCFG: tox.ini

    env:
      TOXENV: ${{ matrix.TOXENV }}
      TOXCFG: ${{ matrix.TOXCFG }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        env:
          cache-name: cache-${{ matrix.TOXENV }}
        with:
          path: .tox
          key: ${{ runner.os }}-tox-${{ env.cache-name }}-${{ hashFiles('pyproject.toml', 'constraints.txt') }}

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'constraints.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: install deps
        run: |
          pip install tox -c constraints.txt

      - name: tox
        run: |
          tox -c ${TOXCFG} -e ${TOXENV}

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    strategy:
      fail-fast: false
      matrix:
        include:
          # integration tests
          - TOXENV: py3-generic
            TOXCFG: tox-integration.ini
          - TOXENV: py3-mqtt
            TOXCFG: tox-integration.ini
          - TOXENV: py3-hooks
            TOXCFG: tox-integration.ini
          - TOXENV: py3-advanced
            TOXCFG: tox-integration.ini
          - TOXENV: py3-grpc
            TOXCFG: tox-integration.ini

    services:
      docker:
        image: docker

    env:
      TOXENV: ${{ matrix.TOXENV }}
      TOXCFG: ${{ matrix.TOXCFG }}

    steps:
      - uses: docker/setup-buildx-action@v3
        continue-on-error: true

      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        env:
          cache-name: cache-${{ matrix.TOXENV }}
        with:
          path: .tox
          key: ${{ runner.os }}-tox-${{ env.cache-name }}-${{ hashFiles('pyproject.toml', 'constraints.txt') }}

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'constraints.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Protoc
        if: ${{ contains(matrix.TOXENV, 'grpc') }}
        uses: arduino/setup-protoc@v2
        with:
          version: "23.x"

      - name: install deps
        run: |
          pip install tox -c constraints.txt

      - name: tox
        run: |
          tox -c ${TOXCFG} -e ${TOXENV}
